.layout-tab-hidden {
    display: none;
}

.layout-list-h {
    flex-direction: row;
}

.layout-list-v {
    flex-direction: column;
}

.layout-list-outer {
    display: flex;
    width: 100%;
    height: 100%;
}

.layout-list-middle {
    display: flex;
    flex:1;
}

.layout-list-line {
    z-index: 1;
    transition: all 0.2s cubic-bezier(1, 0, 0, 1);
    touch-action: none;
}

.layout-list-line-h {
    height: 100%;
    width: calc(var(--idle-overlap) * 2);
    margin-left: calc(0px - var(--idle-overlap));
    margin-right: calc(0px - var(--idle-overlap));
    cursor: col-resize;
}

.layout-list-line-v {
    width: 100%;
    height: calc(var(--idle-overlap) * 2);
    margin-top: calc(0px - var(--idle-overlap));
    margin-bottom: calc(0px - var(--idle-overlap));
    cursor: row-resize;
}

.layout-list-line-h:hover {
    margin-left: calc(0px - var(--hover-overlap));
    margin-right: calc(0px - var(--hover-overlap));
    width: calc(var(--hover-overlap) * 2);
}

.layout-list-line-v:hover {
    margin-top: calc(0px - var(--hover-overlap));
    margin-bottom: calc(0px - var(--hover-overlap));
    height: calc(var(--hover-overlap) * 2);
}

.layout-manager-outer {
    display: grid;
}

.layout-manager-inner {
    grid-area: 1 / 1;
}

.layout-manager-overlay {
    grid-area: 1 / 1;
}

.layout-manager-overlay-active {
    z-index: 1;
}

.layout-manager-overlay-passive{
    z-index:1;
    pointer-events:none;
}

.layout-tabs-tab {
    width: min-content;
    text-wrap-mode: nowrap;
    user-select: none;
    touch-action: none;
}

.layout-tabs-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.layout-tabs-tabs {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
}

.layout-tabs-overlay {
    grid-area: 1 / 1;
    position: relative;
}

.layout-tabs-overlay-inactive {
    z-index: -1;
}

.layout-tabs-inner {
    display: flex;
    grid-area: 1 / 1;
    width: 100%;
    height: 100%;
}

.layout-tabs-drop-area {
    position: absolute;
    z-index: 2;
    display:none;
}

.layout-tabs-drop-area-left {
    display:unset !important;
    left: 0%;
    top: 0%;
    height: 100%;
    width: 50%;
}

.layout-tabs-drop-area-right {
    display:unset !important;
    left: 50%;
    top: 0%;
    height: 100%;
    width: 50%;
}

.layout-tabs-drop-area-top {
    display:unset !important;
    left: 0%;
    top: 0%;
    height: 50%;
    width: 100%;
}

.layout-tabs-drop-area-bottom {
    display:unset !important;
    left: 0%;
    top: 50%;
    height: 50%;
    width: 100%;
}

.layout-tabs-outer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.layout-tabs-middle {
    flex: 1;
    display: grid;
}

.layout-tabs-icons {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

svg.layout-icon {
    width: auto;
}

.layout-manager-dragged-div{
    pointer-events: none;
    position:absolute;
    z-index:2;
}
